[submodule "station-service"]
	path = station-service
	url = git@github.com:SparkFlow-TQS/station-service.git
[submodule "user-service"]
	path = user-service
	url = git@github.com:SparkFlow-TQS/user-service.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:SparkFlow-TQS/frontend.git
